{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

<h1>Company Name: Maurya Enterprise</h1>
<p><b>Mission Statement</b>: Our mission is to deliver exceptional tobacco that millions of people consuming every day so we provide them standard quality for our valued customers. We are dedicated to our customers to ensure the highest quality, innovation, and satisfaction.</p>

<p><b>About Us:</b>
Maurya Enterprise, founded in 2023, is a tobacco company that specializes in exporting to differnt countries. With a commitment to excellence and a passion for supplying fine quality, we have rapidly grown into a tobacco market.</p>


</body>
</html>
{% endblock %}
